<h1>Creators</h1>
<ul>
{% for creator in object_list %}
    {% with articles=creator.article_set.f %}{% if articles %}
    <li>{{ creator }}  ({{ articles.count }} articles)
    <ul>
        {% for article in articles %}
            <li>[{{ article.id }}] {{ article.created }} by {{ article.creator }}: {{ article }}</li>
        {% endfor %}
    </ul></li>
    {% endif %}{% endwith %}
{% empty %}
    <li>No data for this user.</li>
{% endfor %}
</ul>
<p>Zalogowany jako: {{ user }}</p>