<h1>Articles ({{object_list.count }})</h1>
<ul>
{% for article in object_list %}
    <li>[{{ article.id }}] {{ article.created }} by {{ article.creator }}: {{ article }}</li>
{% empty %}
    <li>No data for this user.</li>
{% endfor %}
</ul>
<p>Zalogowany jako: {{ user }}</p>